@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Noto Sans KR", sans-serif;
}
img{
  object-fit: cover;
}
html {
  scroll-behavior: smooth;
}
section {
  padding: 15px 100px;
  position: relative;
}
.container {
  margin: 50px 16%;
  max-width: 1200px;
  margin: 0 auto;
}
.header {
  /* position: sticky; */
  top: 0;
  width: 100%;
  border-bottom: 1px solid #f98037;
  padding: 15px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eff0f4;
  z-index: 20;
}
.header .logo {
  font-weight: 700;
  font-size: 1.8em;
  user-select: none;
  color: #2c363f;
}
.header .head-nav ul {
  display: flex;
  gap: 20px;
  letter-spacing: 0.1em;
  font-size: 1.1em;
  font-weight: 500;
}
.header ul li a{
  position: relative;
  text-align: center;
}
.header ul li a::before {
  content: "";
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 2px;
  background-color: #333;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  transform-origin: right;
}
.header ul li a:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}
.header a {
  font-weight: 600;
  text-decoration: none;
  color: #2c363f;
  font-size: 1.2em;
}
/* 소개 섹션 */
.info-sec {
  position: relative;
  display: flex;
  justify-content: space-between;
  min-height: 70vh;
  background-color: #eff0f4;
}
.name{
  display: flex;
  gap: 104px;
  color: #2c363f;
}
.my-name {
  font-size: 2em;
  font-weight: 700;
}
.contact li{
  list-style: disc;
}
.contact li::marker {
  color: #f98037; 
}
.contact li a{
  color: #2c363f;
  font-size: large;
}
.info-txt {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  gap: 20px;
}

.info-txt h2 {
  position: relative;
  font-size: 4.1em;
  word-break: keep-all;
  width: 700px;
  letter-spacing: 0.1em;
  font-weight: 700;
  z-index: 10;
  color: #2c363f;
  -webkit-text-stroke: 1px #fff;
}
/* h2::before {
  position: relative;
  content: "";
  display: block;
  width: 23%;
  height: 5px;
  background-color: #f98037;
} */

.info-txt p {
  font-size: 1em;
  width: 500px;
  word-break: keep-all;
  font-weight: 400;
  color: #2c363f;
  z-index: 10;
}
.info-txt .about-me {
  display: flex;
  flex-direction: column;
}
.info-txt .modal-btn {
  width: 200px;
  padding: 10px 15px;
  cursor: pointer;
  border: none;
  background-color: #2c363f;
  color: #fff;
  font-size: 1.1em;
  transition: 0.2s;
}
.info-txt .modal-btn:hover {
  background-color: rgba(0, 0, 0, 0.6);
}
.sns-btn ul {
  margin-top: 30px;
  width: 280px;
  height: 60px;
  display: flex;
  align-items: center;
  font-size: 25px;
  transition: 0.5s;
  gap: 30px;
}
.sns-btn ul li a {
  color: #2c363f;
  transition: 0.3s;
}
.sns-btn ul li a:hover {
  color: #f98037;
}
.info-sec .sewon-img {
  position: relative;
  margin: 68px 0;
  right: 135px;
  width: 365px;
  object-fit: contain;
}
.info-sec .top-btn {
  position: fixed;
  right: 24px;
  bottom: 20px;
  z-index: 100;
  width: 80px;
  height: 80px;
  z-index: 10;
  border-radius: 50%;
  border: none;
  font-size: 2.5em;
  font-weight: 700;
  cursor: pointer;
  background-color: #f98037;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(180deg);
}

/* 프로젝트 섹션 */

.project-sec {
  min-height: 70vh;
  background-color: #2c363f;
}
.project-sec h2 {
  width: 400px;
  padding: 60px 0 0;
  font-size: 3em;
  font-weight: 700;
  color: #fff;
}
.project-sec h2::before {
  background-color: #fff;
}
.project-sec p {
  width: 400px;
  margin: 10px 0;
  color: #fff;
  word-break: keep-all;
}
.project-list > li {
  display: flex;
  background-color: #eff0f4;
  height: 380px;
  margin: 35px 0;
}
.project-list > li img {
  width: 45%;
  height: 100%;
}
.project-list > li:nth-child(even) {
  flex-direction: row-reverse;
}
.project-list > li:nth-child(even) .project-info {
  width: 100%;
}
.project-info {
  text-align: left;
  max-width: fit-content;
  margin: 20px 25px;
}
.project-stack-list {
  display: flex;
}
.project-stack-list li img {
  width: fit-content;
  height: 30px;
}
.project-tit {
  font-size: 2.5em;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #2c363f;
  word-break: keep-all;
}
.project-info p {
  width: 100%;
  font-size: 12px;

  color: #2c363f;
  word-break: keep-all;
}
.project-info .skil-info {
  position: relative;
  left: 20px;
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 16px 0;
}
.project-info .skil-info li{
  word-break: keep-all;
  list-style-type: disc;
  font-size: 18px;
}
.project-link {
  color: #eff0f4;
  padding: 10px 16px;
  background-color: #2c363f;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 700;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 10px;
  width: fit-content;
  transition: 0.2s;
}
.link-btn {
  font-size: 1.2em;
  border-radius: 50%;
  color: #2c363f;
  background-color: #fff;
  font-weight: 700;
  width: 30px;
  height: 30px;
}
.project-link:hover {
  background: rgba(0, 0, 0, 0.5);
}

/* 개인이력 섹션 */
.personal-sec {
  position: relative;
  min-height: 50vh;
  background-color: #eff0f4;
}

.personal-sec h2 {
  width: 400px;
  padding: 60px 0 0px;
  font-size: 3em;
  font-weight: 700;
  color: #2c363f;
}
.personal-sec p {
  margin: 20px 0;
}
.personal-list {
  /* display: flex; */
  padding: 20px 0;
}
.personal-list li {
  display: flex;
  margin-top: 20px;
  height: 300px;
  background-color: #2c363f;
  border: 2px solid #2c363f;
}
.personal-list li img {
  /* width: 450px; */
  width: 50%;
}
.personal-txt {
  padding: 20px;
}
.personal-txt h3 {
  font-size: 2em;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #fff;
  word-break: keep-all;
  line-height: 1.2em;
}
.personal-txt p {
  color: #fff;

  font-size: 1em;
  font-weight: 300;
  word-break: keep-all;
  margin-top: 20px;
}

.personal-txt .project-link {
  margin-top: 20px;
  background-color: #eff0f4;
  color: #2c363f;
}
.personal-txt .project-link:hover {
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
}

.personal-btn {
  text-align: right;
}
.personal-btn button {
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  background-color: #2c363f;
  color: #fff;
  font-size: 1.8em;
}
.personal-btn button:nth-child(2) {
  margin-left: 8px;
}
.personal-btn button:active {
  background-color: #00bcd4;
}

.skill-sec{
  background-color: #eff0f4;
  border-top: 1px solid #777;
}
.skill-sec h2{
  font-size: 28px;
}
.skill-list{
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.skill-list>li>span{
  width: 150px;
  font-size: 1.2em;
  font-weight: 700;
}
.skill-list>li li{
  list-style: circle;
}
.skill-list .frontend{
  display: flex;
  gap: 20px;
}
.skill-list .tools{
  display: flex;
  gap: 20px;
}
/* 학력 및 경력시작 */
.certificate{
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: #eff0f4;
  padding-bottom: 60px;
}
.certificate h2{
  font-size: 28px;
}
.certificate-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.certificate-list li{
  font-size: 1em;
  list-style: disc;
  margin:0 20px;
}
.certificate-list li span{
  font-size: 0.8em;
}


/* footer 시작 */
footer {
  border-top: 1px solid #f98037;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eff0f4;
}
footer ul {
  display: flex;
  gap: 20px;
  letter-spacing: 0.1em;
  font-size: 1.1em;
  font-weight: 500;
}
footer ul li a {
  color: #2c363f;
  text-decoration: none;
  font-size: 0.9em;
  font-weight: 400;
}
footer .sns-btn ul {
  width: 200px;
  justify-content: space-between;
  margin: 0;
}

/* modal */
body.active button{
  
}
.modal.active {
  display: block;
}
.modal {
  display: none;
  position: fixed;
  border-radius: 30px;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  width: 800px;
  height: 430px;
  border: 3px solid #2c363f;
  background-color: #eff0f4;
  box-shadow: 3px 0 1000px 1000px rgba(0, 0, 0, 0.7);
  z-index: 1000;
  background-image: linear-gradient(transparent, rgba(255, 255, 255, 1)),
    url(./img/스터디사진.jpg);
  background-size: contain;
  background-position: 0px 70px;
  background-repeat: no-repeat;
  transition: 0.2s;
}
.modal header {
  border-bottom: 1px solid #777;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  color: #2c363f;
}
.modal header button {
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal header button .close-icon {
  font-size: 2em;
  color: #333;
}
.modal header button:hover {
  background-color: #e6e6e6;
}
.modal .modal-info {
  padding: 25px;
  float: right;
  width: 100%;
  height: calc(100% - 100px);
  backdrop-filter: blur(5px);
}
.modal .modal-info ul{
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.modal .modal-info ul li{
  font-size: 1.2em;
  color: #2c363f;
  font-weight: 800;
}
.modal .modal-info ul li:nth-child(even){
  text-align: end;
}
.modal-info-txt{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  word-break: keep-all;
  line-height: 1.6;
}
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 10px;
  background-clip: padding-box;
  border: 2px solid transparent;
}

/* 반응형 */
@media (max-width: 1000px) {
  body {
    overflow-x: hidden;
  }
  section {
    padding: 10px 20px;
  }
  .header {
    padding: 10px 50px;
    justify-content: space-around;
  }
  .header .head-nav ul {
    gap: 15px;
    font-size: 0.8em;
    word-break: keep-all;
  }
  .info-sec{
    min-height: 50vh;
  }
  .info-txt{
    padding-top: 60px;
  }
  .info-txt h2 {
    font-size: 3.2em;
    width: 459px;
  }
  .info-sec .sewon-img {
    min-width: 130px;
    top: 0px;
    right: 46px;
    border-radius: 50%;
  }
  .info-sec > button {
    display: none;
  }
  .info-txt .about-me {
    flex-direction: row;
    gap: 30px;
    align-items: center;
  }
  .sns-btn ul {
    transform: translateY(-20%);
  }
  /* 프로젝트 섹션 */
  .project-list > li {
    flex-direction: column;
    width: 400px;
    height: 730px;
    min-width: 500px;
    margin: 20px auto;
  }
  .project-list > li img {
    min-width: 100%;
    max-height: 40%;
  }
  .project-list > li:nth-child(even) {
    flex-direction: column;
  }
  .project-info {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .project-info p {
    min-width: 300px;
    display: flex;
  }
  .project-stack-list {
    height: 40px;
    align-items: center;
  }
  /* 개인이력 섹션 */
  .personal-list li {
    flex-direction: column;
    width: 400px;
    height: 520px;
    min-width: 500px;
    margin: 20px auto;
  }
  .personal-list li img {
    min-width: 100%;
  }

  footer {
    padding: 10px 30px;
  }
  footer ul {
    gap: 5px;
  }
  .modal{
    width: 670px;
  }
}
